{% extends "tasks/layout.html" %}
{% block body %}
<h1 clas> Tasks ahora editado desde VS Code and with SQL via Models</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Task id</th>
      <th>Task Name</th>
      <th>Task Priority</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{ task.id}}</td>
      <td>{{ task.name }}</td>
      <td>{{ task.priority }}</td>
      <td><a href="{% url 'tasks:edit' task.id %} ">Edit</a>/<a href="{% url 'tasks:delete' task.id %} ">Delete</a></td>       
    </tr>
    {% empty %}
    <h3>No tasks yet</h3>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-primary" href="{% url 'tasks:add' %}" role="button"> Agregar nueva Tarea</a>

{% endblock %}
